<section id="about" class="about">
  <div class="content-wrapper">
    <div class="col-lg-10 col-lg-offset-1">
      <h3>{{ aboutTitle }}</h3>
      <div class="row about-details">
        <div class="col-sm-{{ 12/abouts.length }}" *ngFor="let about of abouts">
          <div class="animated hiding" data-animation="fadeInDown" data-delay="0%">
            <h5>{{ about.title }}</h5>
            <img class="img-circle" src="../../assets/img/about-section/{{ about.imgSrc }}"
                 alt="{{ about.title }}">
            <p>{{ about.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

