<section id="organizing-team" class="rockstar-speakers image-section parallax" style="background-image: url(/img/sections-background/djangogirls1.jpg);">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 rockstar-speakers-list">
            <h3 id="organizing-team-title">Organizing Team</h3>
            <div class="col-md-4 col-xs-6 rockstar-speakers-item animated fadeInUp visible" data-animation="fadeInUp"
                data-delay="0">
                <div class="lily-head" data-toggle="modal" data-target="#teamMemberDetail-2">
                    <div class="rockstar-speaker">
                        <div class="flow-img img-circle rockstar-speaker-img" style="background-image: url(/img/people/Revital_Friedman.png)"></div>
                        <div class="name">Revital Friedman</div>
                        <div class="sub">Taptica</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6 rockstar-speakers-item animated fadeInUp visible" data-animation="fadeInUp" data-delay="500">
                <div class="lily-head" data-toggle="modal" data-target="#teamMemberDetail-1">
                    <div class="rockstar-speaker">
                        <div class="flow-img img-circle rockstar-speaker-img" style="background-image: url(/img/people/Shmuela_AC.png)"></div>
                        <div class="name">Shmuela Jacobs</div>
                        <div class="sub"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-md-4 col-xs-6 rockstar-speakers-item animated fadeInUp visible" data-animation="fadeInUp"
                data-delay="1000">
                <div class="lily-head" data-toggle="modal" data-target="#teamMemberDetail-3">
                    <div class="rockstar-speaker">
                        <div class="flow-img img-circle rockstar-speaker-img" style="background-image: url(/img/people/robert.png)"></div>
                        <div class="name">Robert Willemelis</div>
                        <div class="sub">STRATO</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>